/* Lexend Zetta - Variable Font (Local) */
@font-face {
  font-family: "Lexend Zetta";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/res/font/LexendZetta-VariableFont_wght.ttf") format("truetype");
}

/* Lexend Deca - Variable Font (Local) */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/res/font/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

/* JetBrains Mono - Variable Font (Local) */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/res/font/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

/* Nunito Sans - Variable Font (Local) */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/res/font/Nunito-VariableFont_wght.ttf") format("truetype");
}
