/* TITLE */

.home .title-elements {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

/* LOGO */

.logo-wrapper {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  animation-name: logo-mask-rotation;
  mask: var(--logo-mask);
  -webkit-mask: var(--logo-mask);
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 94% 94%;
}

.logo {
  width: 15rem;
  height: 15rem;
  animation-name: logo-rotate-negation;
  border-radius: 50%;
}

.logo-wrapper,
.logo {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 15s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@media (pointer: fine) {
  .logo-wrapper:hover,
  .logo-wrapper:hover .logo {
    animation-play-state: paused;
  }
}

/* TITLE ELEMENTS BG */

.title-elements {
  display: grid;
  width: fit-content;
  height: 15rem;
  font-size: 1rem;
  align-content: center;
  align-items: center;
  border-radius: 100vw;
  grid-auto-rows: min-content;
  justify-content: center;
}

/* TITLE TEXT */

.title {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  margin-block: 0;
  margin-inline: 5rem;
}

/* SUBTITLE */

.subtitle {
  text-align: center;
  margin-block: 0;
}

.subtitle:nth-child(n + 1) {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
}

.subtitle:nth-child(n + 3) {
  margin-top: 0.7rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 2em;
  font-weight: 800;
}
